:root {
    --blue-color: #1077c3;
    --blue-alt-color: #49bce3;
    --yellow-color: #fec310;
    --resin-color: #56042c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 20px;
    background-color: var(--blue-alt-color);
}

/* Components */
.input-data {
    display: flex;
    align-items: center;
}

.input {
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
    padding: 5px;
}

.label {
    margin-right: 5px;
}

.box {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

.box-title {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--blue-color);
}

.box ul li {
    background-color: var(--blue-color);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.box ul li.uefa{background-color: #00088E;}
.box ul li.caf{background-color: #189E4B;}
.box ul li.afc{background-color: #FFC72C;}
.box ul li.conmebol{background-color: #005CA4;}
.box ul li.concacaf{background-color: #DABC73;}
.box ul li.ofc{background-color: #D9E70C;}

.box ul li span {
    cursor: pointer;
    display: none;
}

.box ul li:hover span {
    display: block;
}

.box ul li:not(:last-child) {
    margin-bottom: 10px;
}

.btn {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--blue-color);
    outline: none;
    transition: .3s;
    cursor: pointer;
    border: none;
}
.done{
    background-color: #0ea849 !important;
    display: none;
}
.done:hover{
    background-color: #76c594 !important;
}

.btn:hover {
    background-color: var(--blue-alt-color);
}

.note p {
    margin-top: 15px;
    text-transform: capitalize;
}

/* Components */

.get-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--resin-color);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    color: #fff;
}

.get-data h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 24px;
}

.get-data .data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.get-data .data select option {
    font-size: 1rem;
}

.levels {
    display: grid;
    grid-template-columns: repeat(4 ,minmax(250px, 1fr));
    width: 100%;
    gap: 15px;
    justify-items: center;
}
@media (max-width: 1150px){
    .levels {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}
@media (max-width: 767px) {
    .get-data{
        padding: 10px;
        font-size: 16px;
    }
    .get-data .data{
        flex-direction: column;
        align-items: flex-start;
    }
    .box{
        border-radius: 10px;
        padding: 10px;
    }
    .box-title{
        font-size: 16px;
    }
    .box ul li{
        font-size: 16px;
        border-radius: 7px;
        padding: 5px;
    }
}